.formulario-ingreso,
.formulario-registro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 15rem;
}

form {
    width: 50%;
    margin-top: 2rem;
}

label {
    display: block;
    margin: 0.7rem 0rem;
}

.input-caja {
    padding: 1rem 1rem;
}

.input-caja input {
    height: 100%;
    width: 100%;
    padding: 0.4rem 5px;
    font-size: 0.9rem;
    border: 1.5px solid #C7BEBE;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input-caja input:focus {
    border-color: #4070f4;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-caja.boton input {
    width: 60%;
    background-color: #A7ABDD;
    letter-spacing: 1px;
    border: none;
    color: #E9E7EE;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 35%;
    background-color: #fff;
    border: 1.5px solid #C7BEBE;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

option {
    color: #223254;
    background-color: #fff;
}

option:disabled {
    display: none;
}

option:focus {
    outline: none;
    border-color: #0077ff;
    background-color: #b4b4b4;
}

input:disabled {
    background-color: rgba(128, 128, 128, 0.103);
}

input[type="button"]:disabled {
    background-color: #5d607ee5;
}

.input-caja.boton input:hover {
    background-color: #5d607e;
}

input:invalid {
    outline: red;
}